
/* started with stuff from here: http://jquery.lemmonjuice.com/plugins/slider-variable-widths.php then heavily customized and tweaked */

#photostream, #slider1, .slider, .slider ul, .slider li, .slider img {
  height: 200px;
}

/*
.slider img { opacity: .33; filter: alpha(opacity=33) ;}
.slider .active img { opacity: 1; filter: alpha(opacity=100) ;}
*/

@media (min-width: @screen-sm-min) {
  #photostream, #slider1, .slider, .slider ul, .slider li, .slider img {
    height: 400px;
  }
}

#photostream {
  position: relative;
  width: 100%;
  left: 50%;
  margin-left: 50%;
  margin-bottom: 50px;
  overflow: hidden;
}

/* Necessary CSS */
#slider1 {
  position: relative;
  width: 100%;
}

.slider    { overflow:hidden; position:relative; }
.slider ul { margin:0; padding:0; }
.slider li { float:left; margin:0 5px 0 0; list-style:none; }
.slider li img { width: auto; }

/* IE6 issues */
.slider ul { width:100%; }

/* slideshow controls */

.controls {
  position: absolute;
  left: 0;
  right: 0;
}

.carousel-indicators {
  display: none;
}

@media (min-width: @screen-sm-min) {
  .carousel-indicators {
    display: block;
    bottom: 0;
    text-align: center;
    margin-bottom: 2px
  }
}

.carousel-indicators li {
  background-color: @rg-background !important;
  border: 4px solid transparent;
  height: 4px;
  margin: 4px;
  width: 4px;
}

.carousel-indicators .active {
  background-color: @rg-background !important;
  border: none !important;
  height: 16px;
  margin: 0;
  width: 16px;
}

.carousel-control {
  bottom: 0;
  background: @rg-background;
  background-image: none !important;
  color: @rg-medium-gray !important;
  opacity: 1 !important;
  display: block;
  top:initial;
  width: 36px;
  height: 60px;
  padding: 10px 10px;
  font-size: 32px;
  text-shadow: none;
}

@media (min-width: @screen-sm-min) {
  .carousel-control {
    width: 26px;
    height:30px;
    padding: 5px 10px;
    font-size: 18px;
  }
}

.carousel-control.prev-slide {
  left: 0;
  right: initial;
  background-image: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.carousel-control.next-slide {
  right: 0;
  left: initial;
  background-image: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.carousel-control:hover, .carousel-control:focus {
  background: @rg-background;
  color: @rg-medium-gray;
  outline: none;
  text-decoration: none;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

/** End slideshow stuff **/

.text-area p { margin-bottom: 1.25em; }

