/* about.css */

/* new film roll improvements */
#film_roll, #film_roll * {
  height: 200px;
}

.about .text-area { margin-top: 225px; }

@media (min-width: @screen-sm-min) {
  #film_roll, #film_roll * {
    height: 300px;
  }
  .about .text-area { margin-top: 325px; }
  .film_roll_pager {
    top: 270px;
  }
}

@media (min-width: @screen-md-min) {
  #film_roll, #film_roll * {
    height: 400px;
  }
  .about .text-area { margin-top: 425px; }
  .film_roll_pager {
    top: 370px;
  }
}

#film_roll, .film_roll_wrapper, .film_roll_shuttle {
  z-index: 1;
}

.film_roll_wrapper {
  display: block;
  text-align: center;
  float: none;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  width: 100%;
}
 
.film_roll_shuttle {
  text-align: left;
  float: none;
  position: relative;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  margin: 0 !important;
  padding: 0 !important;
}
 
.film_roll_shuttle.vertical_center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
 
.film_roll_child {
  position: relative;
  display: inline-block;
  *display:inline;
  vertical-align:middle;
  zoom:1;
}

.film_roll_prev, .film_roll_next {
  position: absolute;
  margin:0;
  text-align: center;
  z-index: 10;
  bottom: 0;
  background: @rg-background;
  background-image: none !important;
  color: @rg-medium-gray !important;
  opacity: 1 !important;
  display: block;
  top:initial;
  width: 26px !important;
  height:30px !important;
  padding: 5px 10px;
  font-size: 18px;
  text-shadow: none;
}

.film_roll_prev:hover, .film_roll_next:hover {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}
 
.film_roll_next {
  left: auto;
  right: 15px;
}

.film_roll_pager {
  display: none;
  text-align: center;
  position: relative;
  z-index: 99;
}

@media (min-width: @screen-sm-min) {
  .carousel-indicators {
    display: block;
  }
}

.film_roll_pager a {
  width: 5px;
  height: 5px !important;
  border: 2px solid @rg-background;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 0 0;
  transition: all 1s ease;
}
 
.film_roll_pager a:hover {
  background: @rg-gray;
}
 
.film_roll_pager a.active {
  background: @rg-background;
}
 
.film_roll_pager span {
  display: none;
}
 
.film_roll_pager a, a.film_roll_prev, a.film_roll_next {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/** End slideshow stuff **/

.text-area p { margin-bottom: 1.25em; }





/* OLD slideshow controls */


.carousel-control.prev-slide {
  left: 0;
  right: initial;
  background-image: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.carousel-control.next-slide {
  right: 0;
  left: initial;
  background-image: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.carousel-control:hover, .carousel-control:focus {
  background: @rg-background;
  color: @rg-medium-gray;
  outline: none;
  text-decoration: none;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}


