.anon-favorites li:hover .item-favorite-remove,
.anon-favorites li:hover .item-favorite-remove button {
  display: block;
}

.anon-favorites li:hover .item-favorite-remove {
  position: absolute; 
  right: 10px; 
  top: 5px;
}

.anon-favorites .item-favorite-remove button {
  background: transparent url(img/small-remove-from-fav.png) center center no-repeat;
  border: none;
  box-shadow: none;
  float: none;
  height: 29px;
  width: 29px;
  margin:0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  text-shadow: none;
  white-space: nowrap;
}

.anon-favorites > li {
  height: auto;
  max-width: 100%;
  max-height: 213px;
  min-height: 100px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 0 10px 0;
}

.anon-favorites .pager button.plain {
  margin: -5px -10px;
} 

@media (min-width: @screen-sm-min) {
  .anon-favorites > li {
    height: auto;
    max-width: 50%;
    max-height: 213px;
    min-height: 100px;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 10px 0;
  }

}

@media (min-width: @screen-md-min) {
  .anon-favorites > li {
    height: auto;
    max-width: 25%;
    max-height: 213px;
    min-height: 100px;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 10px 0;
  }
}

div.anonymous-share-field,
div.anonymous-share-field input,
div.anonymous-share-field label {
  position: relative;
}

div.anonymous-share-field input,
div.anonymous-share-field label {
  display: inline-block;
}

div.anonymous-share-field {
  top:-1px;
}

div.anonymous-share-field label {
  font-size: 14px;
  font-weight: normal;
  height: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}

div.anonymous-share-field input {
  top:-1px;
}
