
/* sorts the filters in alphabetical rows since IE doesn't like the alphabetical columns */

.filter-list fieldset {
  padding: 55px 10px 15px 20px;
}

.filter-list fieldset {
  border: none;
  color: #848484;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 55px 10px 15px 20px;
  margin: 0;
}

.filter-list fieldset label {
  display: block;
  float: left;
  line-height: 14px;
  margin-bottom: 10px;
  width: 25%;
  vertical-align: middle;
}

.filter-list fieldset label input {
  float: left;
  margin: 0;
  margin-left: -20px;
}
