
.pricelist {
  padding-top: 50px;
}

.pricelist-header {
  border-top: 1px solid #262019;
  border-bottom: 1px solid #848484;
  margin-top: 90px;
  margin-bottom: 15px;
}

.pricelist-header .pager {
  margin: 0;
}

.pager li>a, .pager li>span {
  background: transparent;
  border: 0;
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
  background: transparent;
}

.pricelist-header,
.pricelist-header .pager button{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1em;
}

.pricelist-header .pageselect,
.pricelist-header .pagecount {
  padding: 10px 0;
  position: relative;
  top: 9px;
}

.pricelist-header .pageselect {
  left: -35%;
}

.pricelist-header .pagecount {
  left: 35%;
}

.pricelist-header .pageselect button.on-top {
  position: relative;
  z-index: 999;
}

.pricelist-header .pageselect #pricelist-view-number {
  top: 0;
  left: 50%;
  float: none;
  padding: 20px 0 0 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 #848484;
  box-shadow: 0 0 10px 0 #848484;
  background-clip: padding-box;
  width: 55px;
  min-width: 55px;
  max-width: 55px;
  z-index: 10 !important;
}

.pricelist-header .pageselect #pricelist-view-number li>a, 
.pricelist-header .pageselect #pricelist-view-number li>span {
background-color: transparent;
display: block;
clear: none;
margin: 0;
padding: 3px 0 0 0;
border: none;
border-radius: 0;
font-weight: inherit;
line-height: inherit;
color: #262019;
white-space: nowrap;
width: 55px;
}

.btn-group.open .dropdown-toggle {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.pricelist-header .open .caret {
border-top: 0;
border-bottom: 4px solid;
content: "";
}

.pricelist-list {position: relative;}

.pricelist-search {
  position: absolute;
  width: 720px;
  top: -120px;
  left: 50%;
  margin-left: -350px;
}

.pricelist-search input.fuzzy-search {
  width: 290px;
}

thead {
  text-transform: lowercase;
  color: #848484;
  letter-spacing: 2px;
  font-size: 1em;
  font-variant: small-caps;
}

th.name, td.name {
  width: 17%;
}

th.id, td.id,
th.tradeprice, td.tradeprice {
  width: 10%;
}

th.content, td.content {
  width: 30%;
}

th.color, td.color,
th.repeat, td.repeat,
th.width, td.width {
  width: 11%;
}

th {
  white-space: nowrap;
  cursor: pointer;
}

.pricelist-list {
  text-align: center;
}

.pricelist-list table {
  text-align: left;
}

button.download-pdf-flash {
  display: none;
}

