@media print {
  * { 
    background: transparent !important; 
    color: #000 !important;
    text-shadow: none !important; 
    filter:none !important; 
    -ms-filter: none !important; 
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
    margin: 0;
    padding: 0;
  }
  
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
  
  /**** favorites related stuff *****/
  @page {
    margin: 0.5in;
  }

  .visible-print {
    display: block !important;
    display: initial !important;
  }

  body, .container, .row, .pager { 
    width: 100%; 
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 0; 
    padding-right: 0;
    font-size: 12pt;
  }
  
  header, video, audio, object, embed,
  main .text-area {
    display: none;
  }
    
  .anon-favorites li {
    height: 1.25in;
    max-width: 33%;
    width: 33%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 10px 0;
    overflow: auto;
    position: relative;
  }

  .anon-favorites li img {
    width: 100%;
    position: relative;
  }

  .anon-favorites li img {
    width: 100%;
    position: relative;
  }  
}
