/** responsive styling **/
.filter {
  text-align: center;
  padding-top: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .filter {
    text-align: left;
    padding-top: 0;
  }
}

ul.collections:last-child {
  border-bottom: 1px solid;
}

div.add-fave {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
}

ul.project-list div.add-fave,
ul.slider div.add-fave {
  display: none !important;
}

#collection-menu-passementerie-inactive,
#collection-menu-leather-inactive,
#collection-menu-main-inactive,
#products,
#collection-menu-main,
#collection-menu-project-list,
#collection-menu-passementerie,
#collection-menu-leather,
.collection-view-items,
#collection-menu-faves,
#collection-menu-search,
#collection-menu-search-collection {
  display: none;
}

#collection-menu-search-collection button {
  width: 33%;
}

button.slide {
  display: none;
}

#products ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.list li {
  float: left;
  position: relative;
  width: 32%;
  max-width: 32%;
  height: 300px; 
  overflow: hidden;
  margin-right: 2%; /* this is still slightly too wide... will have to figure out a JS solution based on screen widths maybe? */
  margin-bottom: 20px; /* need to make this the same as margin-right... perhaps decalaring in JS would make this easier? */
}

#collection-row-passementerie .passementerie li {
  float: none;
  width: 100%;
  max-width: 100%;
  height: auto; 
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
}

.list li:nth-child(3n) {
  margin-right: 0;
}

.list li img,
.list li div.item-spotlight {
  cursor: pointer;
}

.passementerie li div.item-spotlight,
.passementerie li img  {
  cursor: default;
}

.list .item-favorite-remove {
  display: none;
}

.anon-favorites .item-favorite-remove {
  display: block;
}

ul.collection-controls > li, 
ul.collection-controls > li button {
  font-weight: bold;
} 

ul.collection-controls li button {
  z-index: 100;
} 

ul.collection-controls > li.hug-center .uppercase {
  font-weight: normal;
  letter-spacing: 3px;
}

ul.collection-controls .open .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}

ul.collection-controls .pagecount {
  padding: 0;
  left: 15px;
}

.btn-group button.on-top {
  position: relative;
}

.btn-group.open .dropdown-toggle,
.btn-group button.on-top {
  z-index: 100;
}

#filter-list,
#filter-list-leather {
  position: absolute;
  left: -70px;
  top:-10px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 #848484;
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 180px; 
  z-index: 10 !important;
  text-align: left;
}

#filter-list ul.nav-tabs,
#filter-list-leather ul.nav-tabs {
  margin: 0;
  padding: 0 0 10px 0;
  position: relative;
  top: 35px;
  border-top: 1px solid #ddd;
}

#filter-list ul.nav-tabs li,
#filter-list-leather ul.nav-tabs li {
  display: list-item;
  float: none;
}

#filter-list ul.nav-tabs li > a,
#filter-list ul.nav-tabs li > span,
#filter-list-leather ul.nav-tabs li > a,
#filter-list-leather ul.nav-tabs li > span {
  background-color: transparent;
  border: none;
  color: @rg-gray;
  border-radius: 0 0 0 0;
  display: block;
  margin:0;
  padding: 3px 25px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#filter-list ul.nav-tabs li.active > a,
#filter-list ul.nav-tabs li.active > span,
#filter-list-leather ul.nav-tabs li.active > a,
#filter-list-leather ul.nav-tabs li.active > span {
  color: @rg-black;
}

#filter-list fieldset,
#filter-list-leather fieldset {
  border: none;
  color: @rg-gray;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 60px 25px 15px 25px;
  margin: 0;
}

#filter-list fieldset label,
#filter-list-leather fieldset label {
  display: list-item;
  float: none;
  width: auto;
  margin: 0 0 4px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

#filter-list fieldset label input,
#filter-list-leather fieldset label input {
  float: none;
  margin: 0;
}

#filter-list fieldset label.disabled,
#filter-list-leather fieldset label.disabled {
  color: #ccc; 
}

#filter-list fieldset label.disabled input,
#filter-list-leather fieldset label.disabled input {
  visibility: hidden;
}

@media (min-width: @screen-sm-min) { 
  #filter-list,
  #filter-list-leather {
    width: 700px;
    left: -70px;
    top:-10px;
    text-align: center;
  }
  
  #filter-list ul.nav-tabs,
  #filter-list-leather ul.nav-tabs {
    border-top: none;
    padding-top: 0;
    margin: 0 20px;
    text-align: center;
    top: 40px;
  }
  
  #filter-list ul.nav-tabs li,
  #filter-list-leather ul.nav-tabs li {
    display: inline-block;
    float: none;
  }
  
  #filter-list ul.nav-tabs li > a,
  #filter-list ul.nav-tabs li > span,
  #filter-list-leather ul.nav-tabs li > a,
  #filter-list-leather ul.nav-tabs li > span {
    margin:0 20px;
    padding: 5px 14px;
  }
  
  #filter-list ul.nav-tabs li.active > a,
  #filter-list ul.nav-tabs li.active > span,
  #filter-list-leather ul.nav-tabs li.active > a,
  #filter-list-leather ul.nav-tabs li.active > span {
    color: @rg-black;
  }
  
  #filter-list fieldset,
  #filter-list-leather fieldset {
    padding: 50px 10px 15px 20px;
  }
  
  #filter-list fieldset label,
  #filter-list-leather fieldset label {
    display: block;
    float: left;
    width: 25%;
  }
}

.checkbox-inline+.checkbox-inline {
  margin-top: 0;
  margin-left: 0 !important;
}

.pager button.plain {
  margin: -5px -15px;
}

.on-top, button.on-top, button.on-top:hover { z-index: 1111; }

button.uppercase { font-size: 1em; }

.pager .on-top p { font-size: 1.25em; }

.pager, 
.pager button, 
.pager p,
.item-information strong,
.item-spotlight .item-icons .item-colors {
  line-height: 20px;
  letter-spacing: 2px;
}

.collection-controls.border-top {
  padding-top: 10px !important;
}

/* ================================= */
/* 3-up Slideshow on collection page */
/* ================================= */
/* Do this in a less hacky way for production */
.slider { text-align: center; }

.slider > li { 
  overflow: hidden;
  margin: 0;
  height: 333px; /* set this in JS to keep a 4x3 ratio » var h = ((w*3)/4); */
  vertical-align: middle;
}

.slider>li:nth-child(2) {
  width: 100% !important;
  max-width: 100% !important;
  margin:0;
}

@media (max-width: @screen-xs-max) {
  .slider>li:nth-child(1),
  .slider>li:nth-child(3) {
    display:none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .slider > li:nth-child(1),
  .slider > li:nth-child(3) {
    display:list-item;
    width: 28% !important;
    max-width: 28% !important;
  }

  .slider > li:nth-child(1) {
    margin-left:  -1%;
    margin-right:  1%;
  }
  
  .slider > li:nth-child(2) {
    width: 44% !important;
    max-width: 44% !important;
  }
  
  .slider > li:nth-child(3) {
    margin-left:   1%;
    margin-right: -1%;
  }

  ul.slider.passementerie > li {
    margin: 0;
    border-bottom: none;
    border-top: none;
  }

  ul.slider.passementerie > li:nth-child(1),
  ul.slider.passementerie > li:nth-child(3) {
    width: 10% !important;
    max-width: 10% !important;
  }
  
  ul.slider.passementerie > li:nth-child(2) {
    width: 80% !important;
    max-width: 80% !important;
  }

  ul.slider.passementerie > li .table { display: table; }
  ul.slider.passementerie > li .table-cell { display: table-cell; border: 2px solid @rg-background; }
  ul.slider.passementerie > li .table, ul.passementerie > li .table-cell { height: 100%; width: 100%; }
  
}

img {
  width: 100%;
}

/* In slide view, if we are on the first item we add a dummy
   to push it into the center section. Hide the fourth element
   from display in this instance */
.slider > li:nth-of-type(4) {
  display: none;
}

/* ITEM OVERLAY DISPLAY STYLES */
.itemoverlay { z-index: 9000; }
.itemoverlay table, .itemoverlay .ruler-wrap, .itemoverlay .ruler-wrap .rulers { z-index: 9001; }
.itemoverlay .ruler-wrap ul { z-index: 9002; }

.itemoverlay, .itemoverlay table, .itemoverlay .ruler-wrap {
  background: @rg-background;
}

.itemoverlay table, .itemoverlay .ruler-wrap {
  box-shadow: 0 0 10px 0 #848484;
}

.itemoverlay {
  display: none;
  width: 100%;
  height: 100%;
}

.itemoverlay,
.img-large-container {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.itemoverlay .toggle-colors {
  position: fixed;
  top: 90px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  z-index: 99999;
}

.itemoverlay .toggle-colors button {
  border: none;
  background: @rg-background;
  color: @rg-gray;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 14px;
  padding-top: 8px;
  width: 100px;
}

.itemoverlay .toggle-colors button:hover,
.itemoverlay .toggle-colors button:active,
.itemoverlay .toggle-colors.open button,
.itemoverlay .toggle-colors button.open {
  background: @rg-dark-gold;
  color: @rg-background;
}

.img-large-container { overflow: hidden; }
.img-large-container img { height: 100%; width: auto;}

@media (min-width: @screen-sm-min) { 
  .img-large-container img, .rulers img { height: auto; width: 100%; }
}

#related-products,
#item-colors {
  background: @rg-background;
  height: 120px;
  margin: 0;
  margin-left:-260px;
  padding:15px;
  width:520px;
  z-index:100;
  position:absolute;
  left:50%;
  display: none;
}

#related-products {
  top:120px;
}

#item-colors {
  bottom: 50px;
}

#item-colors .list,
#related-products .list {
  width: 440px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 40px;
  top: 40px;
}

#item-colors .list li.related-item,
#related-products .list li.related-item {
  width: 80px;
  max-width: 80px;
  margin-right: 10px;
  height: 60px;
  padding: 0;
  overflow: hidden;
}

#item-colors .list li.related-item:last-child,
#related-products .list li.related-item:last-child {
  margin-right: 0;
}

#item-colors button.controls,
#related-products button.controls {
  position: absolute;
  display: block;
  top: 57px;
}

button.previous:hover,
button.next:hover,
#item-colors button.controls:hover,
#related-products button.controls:hover {
  color: @rg-dark-gold;
}

#item-colors button.right,
#related-products button.right {
  right: 15px;
}

#item-colors .related-page-count,
#related-products .related-page-count {
  margin: 0;
  padding: 0;
  text-align: center;
}

#item-colors button.close,
#related-products button.close,
.item-information button.item-toggle {
  background: transparent url(img/close-x.png) center center no-repeat;
  display: block;
  float: none;
  position: absolute;
  top: 14px;
  right: 14px;
  height: 11px;
  width: 11px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  opacity: .75;
  filter: alpha(opacity=75);
}

#item-colors button.close:hover,
#related-products button.close:hover,
.item-information button.item-toggle {
  opacity: 1;
  filter: alpha(opacity=100);
}

ul.slider,
#related-products,
.img-large-container {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.item-spotlight {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.item-spotlight .item-icons {
  margin-top: 10px;
  margin-right: 10px;
}

.item-spotlight .item-icons button {
  background: @rg-background !important;
  padding: 5px 9px 2px;
}

/* item_mobile styles */
.itemoverlay nav {
  background: @rg-background !important;
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  z-index: 999;
}

.itemoverlay .xtra-controls {
   padding:0;
}

.itemoverlay .xtra-controls li {
   position: absolute;
}

.itemoverlay .xtra-controls .fav {
   left: 10px;
   top: 10px;
}

.itemoverlay .xtra-controls .close {
   right: 10px;
   top: 10px;
}

.itemoverlay .navbar-header h3 {
  margin: 18px auto 10px;
}

.itemoverlay .nav-header button,
.itemoverlay .nav-header button span.icon-bar,
.itemoverlay .navbar-toggle,
.itemoverlay .navbar-toggle span.icon-bar {
 display: block;
 width: 100%;
 min-width: 100%;
 max-width: 100%;
 margin: 0 auto;
 text-align: center;
}

.itemoverlay .navwrap ul {
  padding: 10px 0;
}

.itemoverlay .navwrap ul li {
  margin-bottom: 15px;
}

.itemoverlay table {
  border: 10px solid @rg-background;
  border-left-width: 20px;
  border-right-width: 20px;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.itemoverlay table tbody {
  padding: 10px;
}

.itemoverlay table td {
  margin: 0;
  padding: 9px 0 2px 0;
}

.itemoverlay table td.fav,
.itemoverlay table td.close {
  padding: 2px 0 6px 0;
}

.itemoverlay .fav button,
.itemoverlay .close button {
  border: none;
  display: block;
  height: 29px;
  width: 29px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.itemoverlay .close,
.itemoverlay .close button,
.item-information button.item-toggle {
  float: none;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.itemoverlay h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.itemoverlay p {
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
}

.itemoverlay .fav button {
  background: transparent url(img/add-to-fav.png) center center no-repeat;
}

.itemoverlay .close button {
  background: transparent url(img/detail-big-close.png) center center no-repeat;
}

div.ruler-wrap {
  position: fixed;
  left:0;
  right:0;
  bottom:0;
}

div.ruler-wrap ul {
  background: #fcfbf8;
  list-style: none;
  margin: 0;
  padding: 10px 10px 10px 25px;
  position: relative;
  width: 150px;
}

div.ruler-wrap ul li a {
  color: gray;
  text-decoration: none;
}

div.ruler-wrap ul li.active a {
  color: black;
}

div.ruler-wrap .rulers {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.ruler-wrap .rulers img {
  display: block;
  width: 100%;
  margin-left: 190px;
}

.rulers .ruler-cm {
 display: none;
}

ul.collections {
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
}

/* ==== */

.pager {
  margin: 0;
}

.threeup {
  padding-bottom: 20px;
}

ul.collections {
  margin: 0 ;
}

.collection-category p {
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.collection-category p ,
.collection-category p a {
  color: #262019;
}

ul.collection-controls {
  position: relative;
}

ul.collection-controls li.hug-left,
ul.collection-controls li.hug-center,
ul.collection-controls li.hug-right {
  position: absolute;
  z-index: 1111;
}

ul.collection-controls li.hug-left {
  left: 15px;
}

ul.collection-controls li.hug-center {
  left: 50%;
  margin-left: -100px;
  width: 200px;
}

ul.collection-controls li.hug-right {
  right: 15px;
}

/* Search Filter Amount Menu Styles */
.collection-view-items .search-view-number {
  top: 0;
  left: 50%;
  float: none;
  padding: 20px 0 0 0;
  margin: 0;
  border: none;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 @rg-gray;
  box-shadow: 0 0 10px 0 @rg-gray;
  background-clip: padding-box;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  z-index: 10 !important;
}

.collection-view-items .search-view-number li {
  display: list-item;
  margin: 0;
  padding: 0;
  width: 40px;
}

.collection-view-items .search-view-number li > a,
.collection-view-items .search-view-number li > span {
  background-color: transparent;
  display: block;
  clear: none;
  margin: 0;
  padding: 3px 0 0 0;
  border: none;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
  color: @rg-black;
  white-space: nowrap;
  width: 40px
}

.collection-view-items .search-view-number li > a:hover,
.collection-view-items .search-view-number li > span:hover {
  background-color: @rg-gray;
}

/* Undoing some Bootstrap stuff i think? */
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div.search-noresults {
  display: none;
  margin-bottom: -20px;
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
}

/* centering info on textile/leather */

.outer { height: 100%; }

 /* The ghost, nudged to maintain perfect centering */
.outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -2.5%; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.inner {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/** add to projects popup styles **/

#project-list-select,
#projects-anonymous,
#anonymous-faves-alert {
  background: @rg-background;
  box-shadow: 0 0 10px 0 #848484;
  height: 160px;
  margin:0;
  padding: 0;
  position:fixed; 
  text-align: center;
  vertical-align: middle;
  width: 430px;
  z-index:11111;
  top:50%;
  margin-top: -80px;
  left:50%;
  margin-left: -215px;
}

#project-list-select > form,
#project-list-select .editable-container.editable-inline {
  margin-left:15px;
  margin-right:15px;
}

#project-list-select > form {
  margin-top: 41px;
  margin-bottom: 10px;
}

#project-list-select > form .form-control {
  display: inline-block;
  width: 55%;
}

.add-fave button,
.alert-favorite button.close,
#project-list-select button.editable-cancel,
#project-list-select button.editable-submit {
  border: none;
  box-shadow: none;
  display: block;
  float: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  text-shadow: none;
  white-space: nowrap;
}

.alert-favorite button.close {
  background: transparent url(img/close-x.png) center center no-repeat;
  position: absolute;
  top: 14px;
  right: 14px;
  height: 11px;
  width: 11px;
  opacity: .75;
  filter: alpha(opacity=75);
}

.add-fave button {
  background: transparent url(img/small-add-to-fav.png) center center no-repeat;
  height: 22px;
  width: 22px;
}

#project-list-select .editable-container.editable-inline,
#project-list-select .editable-container.editable-inline * {
  width: 100%;
}

#project-list-select .editableform .editable-input {
  width: 55%;
}

#project-list-select .editableform .form-control {
  width: 100%;
  padding: 0 !important;
}

#project-list-select .editableform .editable-buttons {
  width: 37%;
  text-align: left;
}

#project-list-select .editable-container button.editable-submit,
#project-list-select .editable-container button.editable-cancel {
  display: inline-block;
  height: 29px;
  width: 36px;
  vertical-align: middle;
}

#project-list-select .editable-container button.editable-submit {
  background: @rg-dark-gold;
  color: @rg-background;
}

#project-list-select .editable-container button.editable-cancel {
  background: transparent url(img/detail-big-close.png) center center no-repeat;
}

/* tim adds */
ul.slider #project-list-select,
ul.slider #anonymous-faves-alert {
  position: absolute;
}


