/* what the fuck did I do? */

div.add-fave {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
ul.slider div.add-fave {
  display: none !important;
}

#products,
#collection-menu-main,
#collection-menu-project-list,
#collection-menu-passementerie,
#collection-menu-leather,
.collection-view-items,
#collection-menu-faves,
#collection-menu-search,
#collection-menu-search-collection {
  display: none;
}
#collection-menu-search-collection button {
  width: 33%;
}
button.slide {
  display: none;
}
#products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list li {
  float: left;
  position: relative;
  width: 32%;
  max-width: 32%;
  height: 300px;
  overflow: hidden;
  margin-right: 2%; /* this is still slightly too wide... will have to figure out a JS solution based on screen widths maybe? */
  margin-bottom: 20px; /* need to make this the same as margin-right... perhaps decalaring in JS would make this easier? */
}
.list li:nth-child(3n) {
  margin-right: 0;
}

ul.list li img,
ul.list li div.item-spotlight {
  cursor: pointer;
}
.list .item-favorite-remove {
  display: none;
}
.anon-favorites .item-favorite-remove {
  display: block;
}

ul.collection-controls > li, 
ul.collection-controls > li button {
  font-weight: bold;
} 

ul.collection-controls li button {
  z-index: 100;
} 

ul.collection-controls > li.hug-center .uppercase {
  font-weight: normal;
  letter-spacing: 3px;
}

ul.collection-controls .open .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}

#filter-list,
#filter-list-leather {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10 !important;
  float: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 #848484;
  width: 700px; /*this solution is problematic, not flexible, a YOLO solution... */
  left: -70px; /*this solution is problematic, not flexible, a YOLO solution... */
  top:-10px;
}

.btn-group button.on-top {
  position: relative;
}

.btn-group.open .dropdown-toggle,
.btn-group button.on-top {
  z-index: 100;
}

#filter-list ul.nav-tabs {
  margin: 0 20px;
  position: relative;
  top: 40px;
  text-align: center;
}

#filter-list ul.nav-tabs li {
  display: inline-block;
  float: none;
}

#filter-list ul.nav-tabs li > a,
#filter-list ul.nav-tabs li > span {
  background-color: transparent;
  border: none;
  color: @rg-gray;
  border-radius: 0 0 0 0;
  display: block;
  margin:0 20px;
  padding: 5px 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#filter-list ul.nav-tabs li.active > a,
#filter-list ul.nav-tabs li.active > span {
  color: @rg-black;
}

.filter-description,
.filter-color,
.filter-attributes {
  border: none;
  color: @rg-gray;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 60px 15px 15px 35px;
  margin: 0;
}

.filter-description label,
.filter-color label,
.filter-attributes label {
  display: block;
  float: left;
  width: 25%;
  margin: 0 0 5px;
  padding: 0;
  text-align: left;
}

.filter-description label input,
.filter-color label input,
.filter-attributes label input {
  float: none;
  margin: 0;
}

.filter-description label.disabled,
.filter-color label.disabled,
.filter-attributes label.disabled {
  text-decoration: line-through;
}
.filter-description label.disabled input,
.filter-color label.disabled input,
.filter-attributes label.disabled input {
  visibility: hidden;
}

.checkbox-inline+.checkbox-inline {
margin-top: 0;
margin-left: 0 !important;
}

.pager button.plain {
  margin: 0 -15px;
}

.on-top, button.on-top, button.on-top:hover { z-index: 1111; }

button.uppercase { font-size: 12px; }

.pager .on-top p {font-size: 16px;}

.pager, .pager button, .pager p {
  line-height: 20px;
  letter-spacing: 2px;
}

/* Do this in a less hacky way for production */
.slider > li {
  margin: 0 0 20px 0;
}

.slider > li:nth-child(1) {
  margin-left:  -1%;
  margin-right:  1%;
  width: 28% !important;
  max-width: 28% !important;
}

.slider > li:nth-child(2) {
  width: 44% !important;
  max-width: 44% !important;
}

.slider > li:nth-child(3) {
  margin-left:   1%;
  margin-right: -1%;
  width: 28% !important;
  max-width: 28% !important;
}

img {
  max-width: 100%;
}

/* In slide view, if we are on the first item we add a dummy
   to push it into the center section. Hide the fourth element
   from display in this instance */
.slider > li:nth-of-type(4) {
  display: none;
}

/* ITEM OVERLAY DISPLAY STYLES */
.itemoverlay { z-index: 9000; }
.itemoverlay table, .itemoverlay .ruler-wrap, .itemoverlay .ruler-wrap .rulers { z-index: 9001; }
.itemoverlay .ruler-wrap ul { z-index: 9002; }

.itemoverlay, .itemoverlay table, .itemoverlay .ruler-wrap {
  background: @rg-background;
}

.itemoverlay table, .itemoverlay .ruler-wrap {
  box-shadow: 0 0 10px 0 #848484;
}

.itemoverlay {
  display: none;
  width: 100%;
  height: 100%;
}

.itemoverlay,
.img-large-container {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.itemoverlay .toggle-colors {
  position: fixed;
  top: 90px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  z-index: 99999;
}

.itemoverlay .toggle-colors button {
  border: none;
  background: @rg-background;
  color: @rg-gray;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 14px;
  padding-top: 8px;
  width: 100px;
}

.itemoverlay .toggle-colors button:hover,
.itemoverlay .toggle-colors button:active,
.itemoverlay .toggle-colors.open button,
.itemoverlay .toggle-colors button.open {
  background: @rg-dark-gold;
  color: @rg-background;
}

.img-large-container { overflow: hidden; }
.img-large-container img, .rulers img {width: 100%; height: auto;}

#related-products {
  background: @rg-background;
  height: 120px;
  margin: 0;
  margin-left:-260px;
  padding:15px;
  width:520px;
  z-index:100;
  /**/
  position:fixed;
  left:50%;
  top:120px;
  display: none;
}

#item-colors {
  background: @rg-background;
  height: 120px;
  margin: 0;
  margin-left:-260px;
  padding:15px;
  width:520px;
  z-index:100;
  /**/
  position:absolute;
  left:50%;
  top:120px;
  display: none;
}

#item-colors .list,
#related-products .list {
  width: 440px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 40px;
  top: 40px;
}

#item-colors .list li.related-item,
#related-products .list li.related-item {
  width: 80px;
  max-width: 80px;
  margin-right: 10px;
  height: 60px;
  padding: 0;
  overflow: hidden;
}

#item-colors .list li.related-item:last-child,
#related-products .list li.related-item:last-child {
  margin-right: 0;
}

#item-colors button.controls,
#related-products button.controls {
  position: absolute;
  display: block;
  top: 57px;
}

button.previous:hover,
button.next:hover,
#item-colors button.controls:hover,
#related-products button.controls:hover {
  color: @rg-dark-gold;
}

#item-colors button.right,
#related-products button.right {
  right: 15px;
}

#item-colors .related-page-count,
#related-products .related-page-count {
  margin: 0;
  padding: 0;
  text-align: center;
}

#item-colors button.close,
#related-products button.close {
  background: transparent url(img/close-x.png) center center no-repeat;
  display: block;
  float: none;
  position: absolute;
  top: 14px;
  right: 14px;
  height: 11px;
  width: 11px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  opacity: .75;
  filter: alpha(opacity=75);
}

#item-colors button.close:hover,
#related-products button.close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

ul.slider,
#related-products,
.img-large-container {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.item-spotlight {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.item-spotlight .item-icons {
  margin-top: 10px;
  margin-right: 10px;
}

.item-spotlight .item-icons button {
  background: @rg-background !important;
  padding: 6px 10px 0px 10px;
}

.itemoverlay table {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  /**/
  border: 10px solid @rg-background;
  border-left-width: 20px;
  border-right-width: 40px;
}

.itemoverlay table tbody {
  padding: 10px;
}

.itemoverlay table td {
  margin: 0;
  padding: 9px 0 2px 0;
}

.itemoverlay table td.fav,
.itemoverlay table td.fav {
  padding: 2px 0 6px 0;
}

.itemoverlay table tbody td.fav button,
.itemoverlay table tbody td.close button {
  border: none;
  display: block;
  height: 29px;
  width: 29px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.itemoverlay table tbody td.close,
.itemoverlay table tbody td.close button {
  float: none;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.itemoverlay table tbody td h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.itemoverlay table tbody td p {
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
}

.itemoverlay table tbody td.fav button {
  background: transparent url(img/add-to-fav.png) center center no-repeat;
}

.itemoverlay table tbody td.close button {
  background: transparent url(img/detail-big-close.png) center center no-repeat;
}

div.ruler-wrap {
  position: fixed;
  left:0;
  right:0;
  bottom:0;
}

div.ruler-wrap ul {
  background: #fcfbf8;
  list-style: none;
  margin: 0;
  padding: 10px 10px 10px 25px;
  position: relative;
  width: 150px;
}

div.ruler-wrap ul li a {
  color: gray;
  text-decoration: none;
}

div.ruler-wrap ul li.active a {
  color: black;
}

div.ruler-wrap .rulers {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.ruler-wrap .rulers img {
  display: block;
  width: 100%;
  margin-left: 190px;
}

.rulers .ruler-cm {display: none;}

ul.collections {
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
}

/* ==== */

.pager {
  margin: 0;
}

.threeup {
  padding-bottom: 20px;
}

ul.collections {
  margin: 0 ;
}

.collection-category p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.collection-category p ,
.collection-category p a {
  color: #262019;
}

ul.collection-controls {
  position: relative;
}

ul.collection-controls li.hug-left,
ul.collection-controls li.hug-center,
ul.collection-controls li.hug-right {
  position: absolute;
  z-index: 1111;
}

ul.collection-controls li.hug-left {
  left: 15px;
}

ul.collection-controls li.hug-center {
  left: 50%;
  /********/
  /* This is a temporary solution, would prefer a dynamic, JS one so that if the text is larger or smaller it is being corrected only exactly the amount need per word */
  margin-left: -100px;
  width: 200px;
  /********/
}

ul.collection-controls li.hug-right {
  right: 15px;
}

/* THIS FOR NOW IS JUST ON THE COLLECTION PAGE!!!! */
footer {
  margin-top: 0;
  border-top: 1px solid;
  padding-top: 200px;
}

/* Search Filter Amount Menu Styles */

.collection-view-items .search-view-number {
  top: 0;
  left: 50%;
  float: none;
  padding: 20px 0 0 0;
  margin: 0;
  border: none;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 @rg-gray;
  box-shadow: 0 0 10px 0 @rg-gray;
  background-clip: padding-box;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  z-index: 999;
}

.collection-view-items .search-view-number li {
  display: list-item;
  margin: 0;
  padding: 0;
  width: 40px;
}

.collection-view-items .search-view-number li > a,
.collection-view-items .search-view-number li > span {
  background-color: transparent;
  display: block;
  clear: none;
  margin: 0;
  padding: 3px 0 0 0;
  border: none;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
  color: @rg-black;
  white-space: nowrap;
  width: 40px
}

.collection-view-items .search-view-number li > a:hover,
.collection-view-items .search-view-number li > span:hover {
background-color: @rg-gray;
}
/* Undoing some Bootstrap stuff i think? */
.btn-group.open .dropdown-toggle {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}


