#thumbs {
  display: none;
}
#products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list li {
  float: left;
  width: 25%;
  max-width: 25%;
  height: 350px;
}
.list li img {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 #848484;
  width: 720px;
}

#filter-list {
  margin: 0;
  width: 720px;
  left: 0;
}

#attributes {
  border: none;
/*   color: @rg-gray; */
  color: #848484;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 15px;
  margin: 0;
  width: 690px;
}

#attributes label {
  display: block;
  float: left;
  width: 25%;
  margin: 0 0 5px;
  padding: 0;
  text-align: left;
}

#attributes label input {
  float: none;
  margin: 0;
}



/* Do this in a less hacky way for production */
.slider li {
  width: 33% !important;
  max-width: 33% !important;
}
img {
  max-width: 100%;
}

/* In slide view, if we are on the first item we add a dummy
   to push it into the center section. Hide the fourth element
   from display in this instance */
.slider li:nth-of-type(4) {
  display: none;
}

.itemoverlay {
  display: none;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.itemoverlay img.img-large {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%
}

#related-products,
.img-large-container {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}
