.new-project {
  display: none;
}
ul.existing-projects {
  padding: 0;
  margin: 40px 0;
  cursor: pointer;
}
ul.existing-projects > li {
  width: 100%;
  text-align: center;
  border-top: 1px solid;
  position: relative;
}
button.delete-list {
  position: absolute;
  right: 0;
  top: 0;
}