button, a, map, map area {
  outline:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

span.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-bottom: 4px solid;
  border-top: 4px solid;
  border-right: 4px solid transparent;
}
/* Stuff that KB should put where he deems appropriate */
#search-items {
  display: none;
  width: 160px;
  max-width: 160px;
  font-weight: normal;
}

#search-items .form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 2px;
  font-size: 14px;
  line-height: 2;
  color: @rg-gray;
  background-color: transparent;
  background-image: none;
  border: none;
  border-top: none !important; 
  border-bottom: 1px solid @rg-gray;
  border-radius: 0;
}

.item-spotlight {
  top: 0;
  right: 0;
  position: absolute;
  height: inherit;
}

.item-spotlight .item-information {
  background: @rg-background;
  display: none;
  margin: 0 28%;
  padding: 10px;
  position: absolute;
  top: 6%;
  width: 44%;
  height: 88%;
  overflow: auto;
}

.item-spotlight .item-icons {
  position: absolute;
  top: 0;
  right: 0;
}

.item-spotlight #item-colors {
  background: @rg-background;
  height: 120px;
  padding: 15px;
}

/* font stack?   font-family: "Adobe Caslon Pro", "adobe-caslon-pro", "Droid Serif", "Times New Roman", Times, Georgia, serif; */

body {
  padding-bottom: 60px;
}

li{
  list-style-type: none;
}

main{
  display: block;
}

/* Styles for the login page */
.tradelogin {
  margin-top: 60px;
  margin-bottom: 60px;
}
.tradelogin .btn {
  margin-top: 30px;
  text-transform: capitalize;
}
.tradelogin ul {
  padding: 0;
}
.tradelogin li a {
  text-decoration: underline;
}

/** ************************************************************ **/
/** ************************************************************ **/
/** Logo, Nav, Masthead... **/
/** ************************************************************ **/
/** ************************************************************ **/
.navbar-toggle {
  position: relative;
  float: none;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  width: 160px;
}

.navbar-toggle .icon-bar {
  background: url('img/nav-dd.png') center top no-repeat;
  display: block;
  width: 160px;
  height: 25px;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center
}

.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid transparent;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;
}

.masthead {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px 0 #848484;
}

.masthead:hover {
  box-shadow: 0 0 10px 0 #c8c8c8;
}

@media (min-width: @screen-sm-min) { 
  .navbar-toggle { display: none; }
  
  .masthead, .masthead:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    box-shadow: none;
  }
  
  .masthead h1.sitename {
    box-shadow: none;
  }
  
  .masthead h1.sitename:hover {
    box-shadow: none;
  }

}

.masthead nav,
.masthead nav .navwrap,
.masthead nav ul,
.masthead nav ul li {
  list-style: none;
  margin: 0;
  text-align: center;
}

.masthead nav {
  width: 160px;
  margin: 0 auto;
  padding-top: 30px;
}

.masthead nav .navwrap {
  height:auto;
  width:100%; 
  padding-bottom: 20px;
}

.masthead nav .navwrap > ul {
  padding: 0;
}

.masthead nav .navwrap > ul li {
  text-transform: uppercase;
  border-top: solid 1px @rg-black;
  padding: 4px 0 3px 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.masthead nav ul li a {
  color: @rg-black;
  font-family: "Adobe Caslon Pro", "Droid Serif", "Times New Roman", Times, Georgia, serif;
  font-size: 12px;
  text-decoration: none;
}

.masthead nav ul li a:hover {
  color: @rg-gray;
}

#collection-menu-search-collection button.active,
.masthead nav ul li.active a {
  color: @rg-gold;
}

.masthead nav ul li ul.trade-login {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.masthead nav ul li ul.trade-login li {
  border-top: none;
  display: block;
  float:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: @screen-sm-min) {
  .landing nav {
    background: url('img/nav-dd.png') center 10px no-repeat;
  }
  
  .landing nav:hover {
    background: none;
  }

  .masthead nav ul li ul.trade-login {
    margin: 0 0 0 -275px;
    padding: 0;
    width: 550px;
    position: relative;
    left: 50%;
  }
  
  .masthead nav ul li ul.trade-login li {
    border-top: none;
    display: block;
    float:left;
    height: auto;
    min-height:25px;
    max-height:35px;
    margin: 0 10px;
    padding: 0;
    width: auto;
    width: 90px;
  }
  
  .masthead nav ul li ul.collection-filter li:first-child {
    margin-left: 0;
  }
  
  .masthead nav ul li ul.collection-filter li:last-child {
    margin-right: 0;
  }
}

.masthead nav ul li ul.trade-login li a, 
.masthead nav ul li ul.collection-filter li a {
  color:#9a8669;
}

.masthead nav ul li ul.trade-login li.active a,
.masthead nav ul li ul.trade-login li a.active, 
.masthead nav ul li ul.collection-filter li.active a,
.masthead nav ul li ul.collection-filter li a.active {
  color:#725a38;
}

.masthead nav ul li > ul.active, 
.masthead nav ul li:hover > ul {
  display: block;
  height: auto;
  min-height:auto;
  max-height:auto;
  overflow: visible;
  opacity: 1;
}

@media (min-width: @screen-sm-min) {
  .masthead nav ul li > ul.active, 
  .masthead nav ul li:hover > ul {
    display: block;
    height: auto;
    min-height:25px;
    max-height:35px;
    overflow: visible;
    opacity: 1;
  }
}

.masthead nav ul li > ul.disabled{
  display: none;
}

/* CUSTOM HEADER STYLES FOR SKELETON MOCKUP */
.masthead h1.sitename, .masthead h1.sitename a {
  border: none;
  height: 60px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

.masthead h1.sitename {
  background: @rg-background;
  box-shadow: none;
  letter-spacing: 3px;
  margin: 0 auto;
  padding-top: 20px;
}

.masthead h1.sitename a {
  background: url('img/logo.png') center center no-repeat;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
  .masthead h1.sitename, .masthead h1.sitename a {
    width: 350px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .masthead h1.sitename {
    box-shadow: 0 0 10px 0 #848484;
    margin: 40px auto 0;
    padding-top: 0;
  }
  
  .masthead h1.sitename:hover {
    box-shadow: 0 0 10px 0 #c8c8c8;
  }
}

/** END Logo, Nav, Masthead... **/
/** ************************************************************ **/
/** ************************************************************ **/
/* ===== Styles for jquery carousel ===== */
/* LAYOUT */
#l-collection{
  overflow: hidden;
}

/* MODULES */
#collection{ }
ul#collection{ }
ul#collection li {
  float: left;
  display: block;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}

/* what are these styles for? */
.cotton{
  background-color: grey;
}
.horsehair{
  background-color: aqua;
}
.wool{
  background-color: fuchsia;
}
.alpaca{
  background-color: navy;
}
.linen{
  background-color: red;
}
/* === */

/* PANEL STYLES*/
.collection-panel{
  border-top: 2px solid black;
  text-align: center;
}
.collection-panel *:not(li){
  display: inline-block;
  vertical-align: middle;
}

.pagination p + p:before{
  content: "/ ";
}
.collection-panel-wrap{
  margin: 0 auto;
}
#rightarrow{
  float: right;
}
#leftarrow{
  float: left;
}

/* FILTER */
#filter{
  float: left;
  position: absolute;
  z-index: 4;
  margin-left: -115px;
  margin-top: 20px;
}

#filter:hover{
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 2px #e8e8e8;
}

#filter ul{
  text-align: left;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 6px;
}
#filter ul:before {
  content: "Filter";
}

#filter ul li{
  display: none;
}
#filter:hover li{
  display: list-item;
}
#filter ul li a:before{
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid rgba(160,160,160,1);
  margin-right: 9px;
  content: "";
}
#filter ul li a.active:before{
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: rgba(160,160,160,1);
  margin-right: 9px;
  content: "";
}

/** general usefulness **/
.add-bottom { margin-bottom: 40px; }
.add-top    { margin-top: 40px; }
.border-top { border-top: 1px solid @rg-black; padding-top: 20px; }
.uppercase  { text-transform: uppercase; }

/** general text page styles **/
.text-area {
  max-width: 720px;
  margin: 20px auto 0;
  padding: 0;
  font-size: 1.25em;
  line-height: 1.6;
}

@media screen and (max-width: 740px) {
  .text-area {
    padding: 0 20px;
  }
  footer {margin-top: 20px;}
}

@media screen and (max-height:699px) {
  .text-area, main.contact {
    margin-top: 25px;
  }
  .contact .text-area.slider {
    margin-bottom: 25px;
  }
  footer {margin-top: 50px;}
}

@media screen and (min-height:700px) and (max-height:900px) {
  .text-area, main.contact {
    margin-top: 75px;
  }
  .contact .text-area.slider {
    margin-bottom: 75px;
  }
  footer {margin-top: 75px;}
}

@media screen and (min-height:901px) {
  .text-area, main.contact {
    margin-top: 150px;
  }
  .contact .text-area.slider {
    margin-bottom: 150px;
  }
  footer {margin-top: 210px;}
}

.text-area.add-bottom {
  margin-bottom: 40px;
}

/* Improving Footer Styles */

footer {
  font-size: .9em;
  letter-spacing:1px;
  text-align: center;
}

footer p, footer ul {
  margin: 0;
  padding: 0;
}

footer span.uppercase {
  text-transform: lowercase;
  font-variant:small-caps;
}

footer .disclaimer-img {
  color:@rg-gray;
  margin-bottom: 1em;
}

ul.footerlinks {
  list-style: none;
  text-align: center;
  font-size: inherit;
  letter-spacing: 1px;
}

ul.footerlinks li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

footer .link-two {
  text-transform: lowercase;
  font-variant:small-caps;
}

.link-two, .trade-login ul a {
  color: @rg-black;
  text-decoration: underline;
}
.link-two:hover, .trade-login ul a:hover {
  color: @rg-gray;
}

button.plain {
  background: none;
  background-color: transparent;
  border: none;
  border-color: none;
  padding: 0;
  margin: 0;
}

/* Trade Login and other various Trade Account stuff */
.tradeacct .text-area {
  max-width: 600px;
}

.tradeacct .text-area p {
  margin-bottom: 2em;
}

.tradeacct .text-area a {
  text-decoration: underline;
}

.trade-login ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.trade-login .form-inline .form-control {
  width: 100%;
}

.trade-login form button {
  letter-spacing: 2px;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.account-information {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2em 0;
}

.account-information .editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: dashed 1px @rg-gold;
}

#project-edit, #project-new, .download-pdf, .download-pdf-flash {
  letter-spacing: 2px; 
  margin: 0 10px;
  padding: 8px 16px 4px;
}

.alert {z-index: 9999;}
.new-project.alert {
 background: #fff;
 position:fixed;
 top:50%;
 left:50%;
 margin-top: -35px;
 margin-left: -200px;
 height: 70px;
 width: 400px;
}

/* Contact page styles */
.contact section.border-top {
  padding: 1em 0;
}

.contact .toggle h2 { 
  cursor: pointer; 
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.contact section.border-top:last-child {
  border-bottom: 1px solid;
}

.contact .text-area.slider a {
  text-decoration: underline;
}

.showrooms ul {
  border-color: #EEE;
  list-style: none;
}

.showrooms .slider > ul {
  padding: 2em 0;
}

.showrooms .top .slider > ul {
  margin-top: 2em;
}

.showrooms ul > li.showroom {
  font-size: 1.15em;
  vertical-align: top;
}

.showrooms ul ul {
  margin: 0;
  padding: 0;
}

.showrooms .top ul > li.showroom {
  margin-bottom: 0;
}

li.showroom h3 {
  color: @rg-dark-gold;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.top li.showroom h3 {
  color: @rg-black;
}

li.showroom h3:after {
  color: @rg-black;
  content: "-";
  display: block;
  line-height: 1;
  margin: 0;
  padding: 0;
}

li.showroom a { text-decoration: underline; }

li.showroom p { margin: 0; }

li.showroom address { margin: 0; }

li.showroom span.smallcaps {
  letter-spacing: 1px;
  font-variant: small-caps;
}

