/* Stuff that KB should put where he deems appropriate */
#search-items {
  display: none;
  width: 85%;
  float: left;
}
.item-spotlight {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -320px;
  position: relative;
  background: #fff;
}

/* font stack?   font-family: "Adobe Caslon Pro", "Droid Serif", "Times New Roman", Times, Georgia, serif; */

body {
  padding-bottom: 60px;
}
li{
  list-style-type: none;
}
footer {
  margin-top: 210px;
  text-align: center;
}
main{
  display: block;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Styles for the login page */
.tradelogin {
  margin-top: 60px;
  margin-bottom: 60px;
}
.tradelogin .btn {
  margin-top: 30px;
  text-transform: capitalize;
}
.tradelogin ul {
  padding: 0;
}
.tradelogin li a {
  text-decoration: underline;
}

/** ************************************************************ **/
/** ************************************************************ **/
/** Logo, Nav, Masthead... **/
/** ************************************************************ **/
/** ************************************************************ **/
/** MENU/HEADER STYLES SHOULD BE 80% up to date as of 2013-12-15 **/
/* Customize the navbar links to be fill the entire space of the .navbar */
.masthead nav,
.masthead nav ul,
.masthead nav ul li {
  list-style: none;
  margin: 0;
  text-align: center;
}

.masthead nav {
  width: 160px;
  margin: 0 auto;
  padding-top: 20px;
}

.masthead nav > ul {
  padding: 0 0 30px 0;
}

.masthead nav > ul li {
  text-transform: uppercase;
  border-top: solid 1px @rg-black;
  padding: 3px 20px 2px;
  font-weight: 500;
}

.masthead nav ul li a {
  color: @rg-black;
  font-family: "Adobe Caslon Pro", "Droid Serif", "Times New Roman", Times, Georgia, serif;
  font-size: 12px;
  text-decoration: none;
}

.masthead nav ul li a:hover {
  color: @rg-gray;
}

.masthead nav ul li ul.collection-filter {
  height:0;
  opacity: 0;
  overflow: hidden;
  margin: 0 0 0 -70px;
  padding: 0;
  width: 300px;
}

.masthead nav ul li ul.collection-filter li {
  border-top: none;
  display: block;
  float:left;
  height: auto;
  min-height:25px;
  max-height:35px;
  margin: 6px 10px 0 10px;
  padding: 0;
  width: auto;
}

.masthead nav ul li ul.collection-filter li:first-child {
  margin-left: 0;
}
.masthead nav ul li ul.collection-filter li:last-child {
  margin-right: 0;
}

.masthead nav ul li ul.collection-filter li a {
  color:#9a8669;
}

.masthead nav ul li ul.collection-filter li.active a,
.masthead nav ul li ul.collection-filter li a.active {
  color:#725a38;
}

.masthead nav ul li:hover > ul{
  display: block;
  height: auto;
  min-height:25px;
  max-height:35px;
  overflow: visible;
  opacity: 1;
}

/* animate nav showing on landing page */
.landing nav, .landing nav ul {
  -webkit-transition: min-height 333ms ease-in-out,max-height 333ms ease-in-out, height 333ms ease-in-out, opacity 333ms ease;
  -moz-transition: min-height 333ms ease-in-out,max-height 333ms ease-in-out, height 333ms ease-in-out, opacity 333ms ease;
  -o-transition: min-height 333ms ease-in-out,max-height 333ms ease-in-out, height 333ms ease-in-out, opacity 333ms ease;
  -ms-transition: min-height 333ms ease-in-out,max-height 333ms ease-in-out, height 333ms ease-in-out, opacity 333ms ease;
  transition: min-height 333ms ease-in-out,max-height 333ms ease-in-out, height 333ms ease-in-out, opacity 333ms ease;
}

.landing nav {
  min-height:30px;
  max-height: 30px;
  background: url('img/nav-dd.png') center 10px no-repeat;
}

.landing nav > ul {
  margin-top: 10px;
  height:0;
  overflow: hidden;
  opacity: 0;
}

.landing nav:hover {
  background: none;
  height: auto;
  min-height:30px;
  max-height:400px;
}

.landing nav:hover > ul {
  display: block;
  height: auto;
  min-height:30px;
  max-height:400px;
  overflow: visible;
  opacity: 1;
}

/* CUSTOM HEADER STYLES FOR SKELETON MOCKUP */
.masthead h1.sitename, .masthead h1.sitename a {
  border: none;
  height: 57px;
  text-align: center;
  width: 340px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.masthead h1.sitename {
  background: @rg-background;
  box-shadow: @boxshadow;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.masthead h1.sitename:hover {
  box-shadow: 0 0 10px 0 #c8c8c8;
}

.masthead h1.sitename a {
  background: url('img/logo.png') center center no-repeat;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/** END Logo, Nav, Masthead... **/
/** ************************************************************ **/
/** ************************************************************ **/



/* ===== Styles for jquery carousel ===== */
/* LAYOUT */
#l-collection{
  overflow: hidden;
}

/* MODULES */
#collection{
}
ul#collection{
}
ul#collection li {
  float: left;
  display: block;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}
.cotton{
  background-color: grey;
}
.horsehair{
  background-color: aqua;
}
.wool{
  background-color: fuchsia;
}
.alpaca{
  background-color: navy;
}
.linen{
  background-color: red;
}
/* PANEL STYLES*/
.collection-panel{
  border-top: 2px solid black;
  text-align: center;
}
.collection-panel *:not(li){
  display: inline-block;
  vertical-align: middle;
}

.pagination p + p:before{
  content: "/ ";
}
.collection-panel-wrap{
  margin: 0 auto;
}
#rightarrow{
  float: right;
}
#leftarrow{
  float: left;
}
/* FILTER */
#filter{
  float: left;
  position: absolute;
  z-index: 4;
  margin-left: -115px;
  margin-top: 20px;
}

#filter:hover{
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 2px #e8e8e8;
}

#filter ul{
  text-align: left;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 6px;
}
#filter ul:before {
  content: "Filter";
}

#filter ul li{
  display: none;
}
#filter:hover li{
  display: list-item;
}
#filter ul li a:before{
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid rgba(160,160,160,1);
  margin-right: 9px;
  content: "";
}
#filter ul li a.active:before{
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: rgba(160,160,160,1);
  margin-right: 9px;
  content: "";
}

#attributes label {
  display: block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

/* STATES */

/* ===== Styles for jquery carousel ===== */

/** general usefulness **/
.uppercase { text-transform: uppercase; }
footer .uppercase {
  font-size: 11.5px;
  letter-spacing:1px;
}

/** general text page styles **/
.text-area {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
}

footer p {
  font-size: 13px;
}
